* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.cabecalho {
    width: 375px;
    background: #F4F4F4;



}


header {
    background: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;

}

main {

    padding: 24px;
}

label {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #777777;
}


select {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: 0;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: 0;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

button {
    background: #1B83E2;
    border-radius: 25px;
    width: 327px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    border: 0;
    margin-top: 24px;
    margin-bottom: 36px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.conteudo-principal-resultado {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.conteudo-principal-resultado-texto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.conteudo-principal-resultado-valor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #1B83E2;
}